<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="LongTestSuite" verbose="1">
    <test name="cases">
        <classes>
            <class name="com.java.LoadBrowser"></class>
            <class name="com.java.As2ApplicationTests"></class>
        </classes>
    </test>
</suite>